--extra-index-url https://europe-python.pkg.dev/${PROJECT_NAME}/python-packages/simple/

thg-gcp-utils==1.1.0

cachetools==5.3.0
certifi==2023.5.7
charset-normalizer==3.1.0
Deprecated==1.2.13
google-api-core==2.10.2
google-auth==2.9.1
google-cloud-core==2.3.2
google-cloud-monitoring==2.14.2
google-cloud-storage==2.7.0
google-cloud-trace==1.7.3
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.0
grpcio==1.54.2
grpcio-status==1.54.2
grpcio-tools==1.54.2
idna==3.4
importlib-metadata==6.6.0
jaraco.classes==3.2.3
keyring==23.13.1
keyrings.google-artifactregistry-auth==1.1.2
more-itertools==9.1.0
opentelemetry-api==1.16.0
opentelemetry-distro==0.37b0
opentelemetry-exporter-gcp-monitoring==1.4.0a0
opentelemetry-exporter-gcp-trace==1.4.0
opentelemetry-instrumentation==0.37b0
opentelemetry-sdk==1.16.0
opentelemetry-semantic-conventions==0.37b0
pluggy==1.0.0
proto-plus==1.22.2
protobuf==4.23.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pydantic==1.10.7
PyYAML==6.0
requests==2.30.0
rsa==4.9
six==1.16.0
thg-gcp-utils==1.1.0
typing_extensions==4.5.0
urllib3==1.26.15
wrapt==1.15.0
zipp==3.15.0
